body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #dce0e5));
  background: -webkit-linear-gradient(top, #fff 0%, #dce0e5 100%);
  background: -moz-linear-gradient(top, #fff 0%, #dce0e5 100%);
  background: -o-linear-gradient(top, #fff 0%, #dce0e5 100%);
  background: -ms-linear-gradient(top, #fff 0%, #dce0e5 100%);
  background: linear-gradient(top, #fff 0%, #dce0e5 100%);
}
